@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;600;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    outline:1px solid red;
    margin:0;
    padding:0;
}

body{
    /* font-family: Roboto; */
    font-family: Roboto, sans-serif;
    display:flex;
    flex-direction: column;
    margin:0;
    padding:0;
    height:100vh;
}
body > *{
    flex-grow: 1;
}
img{
    /* height: 200px;
    width: 200px; */
    object-fit: cover;
    object-position: 100% 20%;
}

header {
    padding:10px 100px;
    color:white;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 80px; */
}

.header-container {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    width: 1000px;

 
}
.logo {
    font-size: 28px;
    font-weight: bold;
}
ul{
    color: #E5E7EB;
    display:flex;
    gap:25px;
    list-style-type: none; 
    align-items: center;  
}
.links{
    display: flex;
    align-items: center;
}
.first-section{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.first-text {
    width:500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first-text h1{
    color: #f9faf8;
    font-weight: 900;
    /* width:300px; */
    font-size: 48px;
}

.first-text p {
    font-weight: 300;
    font-size:18px;
    color: #E5E7EB;
    margin: 8px 0;
}

.first-section img {
    width:500px;
    height: 250px;
    object-position: 100% 25%;
}

button{
    font-size: 18px;
    font-weight: bold;
    flex-basis:auto;
    padding: 10px 34px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    align-self:flex-start;
    border: 1px solid #f9faf8;
}


.imgs-title {
   font-size: 36px;
    color: #1f2937;
    font-weight: 900; 
    text-align: center;
}
.img-section img{
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1/1; /* força proporção quadrada */
    border-radius: 20px;

}

.items {
    display: flex;
    justify-content: center;
    gap:40px;
    padding:70px;
}

.text{
    max-width:200px;
    text-align: center;
    color: #4e5865;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote{
    padding:80px;

}
.quote-text{
    width:800px;
    font-size: 36px;
    font-style:italic;
    font-weight: 300;
    color: #1f2937;
    outline: 1px solid black;
}
.author {
    text-align: end;
    font-size: 20px;
    font-weight: bold;
}

.call-section {
    color:#f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.container {
    width:800px;
    background-color:#3882f6;
    display: flex;
    justify-content: space-around;
    padding:30px;
    border-radius: 10px;
    font-size: 18px;
}
.call-title {
    font-weight: bold;
}
.call-text {
    font-size: smaller;
    font-weight: lighter;
}
footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div {
    padding:30px;
}